POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=python_practice
POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password
PIPELINE_DATA_DIR=data
PIPELINE_BATCH_SIZE=100
PIPELINE_MAX_RETRIES=3
PIPELINE_TIMEOUT_SECONDS=5
PIPELINE_RETRY_BASE_SECONDS=0.2
PIPELINE_RETRY_MAX_SECONDS=2.0

